.introContent {
    margin: 100px 0px;
}

body {
    background-color: #00040c;
}

.particlePosition{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.nameEmphasize{
    text-shadow: 4px 4px 6px rgba(113,28,145,1);
}

.nameIntro{
    color: 	#377fff;
}


