.introContent {
    margin: 100px 0px;
}

body {
    background-color: #00040c;
}

.particlePosition{
    position: fixed;
    z-index: -1;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

.nameEmphasize{
    text-shadow: 4px 4px 6px rgba(113,28,145,1);
}

.nameIntro{
    color: 	#377fff;
}

.LogoSize{
    max-width: 50px;
    max-height: 50px;
    color: white;
}

.card-color{
    background: #000610;
    transition: all 0.3s ease 0s;
}

.card-color:hover{
    background: #00091a;
    margin-bottom: calc(1%);
}
